
body{padding: 0;margin: 0;}

.fd{
border: solid;
border-color: cyan;
height: 100 vh;
width: 99.99%;

}

.list{
    border: solid;
    float: left;
    width: 25%;
    height: 99.6vh;
    background-color: aquamarine;
    position: absolute;
}

.chat{
    position: relative;
    border: solid;
    float: right;
    width: 75%;
    height: 99.6vh;
    background-color: lawngreen;
}
.profile{
    border: solid;
    height: 10vh;
    margin-top: -6%;
    width: auto;
    background-color: grey;
}

img{
    height: 10vh;
    float: left;
}
.name{
    height: auto;
    float: left;
    font-size: 120%;
    margin: 5% 5% 5% 10%;
}

.message{
    border: solid;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10px;
    
}

.message::-webkit-scrollbar {
    display: none;
}

#text1{
    width: 227px;
}
#text2{
    width: 80%;
    height: 80%;
    font-size: 35px;
}
#send2{
    height: 90%;
    position: relative;
    width: 100px;
    top:-4px;
    left: 20px;
    border-radius: 200px;
}
.sm{
    position: relative;
    width: 80vw;
    border: solid;
    height: 7vh;
    background-color: blue;
}
.smm{border: solid;
    
    border-color: black  ;
    position: relative;
    height: 30%;
}
#p1{
text-align: left;
border: none;
background-color: rgb(190, 188, 188);
width: 170px;
word-break: break-all;
margin: 2% 0% 0% 1.5%;
padding: 6px 6px 6px 8px;
border-radius: 2px;
box-shadow: 0px 0px 10px 0px rgb(190, 188, 188);


}

#p2{
text-align:right ;
border: none;
width: 170px;
margin: 2% 0% 0% 80%;
background-color: rgb(175, 173, 173);
padding: 6px 8px 6px 0px;
border-radius: 2px;
box-shadow: 0px 0px 10px 0px rgb(190, 188, 188);
}




